BasedOnStyle: Google
ColumnLimit: 100
Standard: c++20
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: false
PointerAlignment: Left
DerivePointerAlignment: false
SortIncludes: true
IncludeBlocks: Regroup
PackConstructorInitializers: NextLine
